<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h4> <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %> </h4>
<h4> <%= link_to "Back to home", restaurants_path %> </h4>

